<p>
    <a class="btn btn-default" href="
       <?= $this->url('application', ['action' => 'update']); ?>">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Update Data
    </a>
</p>
<table class="table table-striped">

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Handle</th>

    </tr>
    <?php foreach ($this->collections as $collection): ?>
        <p>
            <a class="btn btn-default" href="
               <?= $this->url('application', ['action' => 'show', 'id' => $collection->getId()]); ?>">
               <?= $this->escapeHtml($collection->getTitle()); ?>
            </a>
        </p>
    <?php endforeach; ?> 
    <?php foreach ($this->products as $product): ?>

        <tr>
            <td><?= $this->escapeHtml($product->getId()); ?></td>
            <td>
                <?= $this->escapeHtml($product->getTitle()); ?>
            </td>
            <td><?= $this->escapeHtml($product->getHandle()); ?></td>

        </tr>

    <?php endforeach; ?>   


</table>